meta(charset="UTF-8")
title Polymer
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

link(rel="stylesheet" href="css/style.css")

meta(name="theme-color" content="#1B1B1B")
meta(name="msapplication-navbutton-color" content="#1B1B1B")
meta(name="apple-mobile-web-app-status-bar-style" content="#1B1B1B")