//цвета
$clr-black: #1B1B1B;
$clr-white: #fff;
$clr-red: #FF2B03;
$clr-txt: $clr-black;
$clr-txt-grey: #9C9C9C;
$clr-bg-main: $clr-white;
$clr-grey-bg: #F5F6F7;
$clr-brd: #CECECE;
$clr-link: #3F5EE0;
$clr-green-brd: #0D9B3E;
$clr-green-bg: #07AD34;
$clr-green-txt: #4CC85B;


$clr-placeholder: #000;
$clr-input: #000;

//шрифты
$font-main: 'Montserrat', sans-serif;

//тени
