extends ../layout/layout_page

block main  
  include ../modules/article.html
  include ../modules/articles-slider.html
  include ../modules/contacts.html
  include ../modules/map.html
  include ../global_modules/popup.html