extends ../layout/layout_page

block main
  nav.breadcrumbs
    .container
      a(href="/") Главная 
      | – Услуги  
  include ../modules/services-sec.html
  include ../modules/banner.html
  include ../modules/calc-sec.html
  include ../modules/garanty.html
  include ../modules/price.html
  include ../modules/advantages.html
  include ../modules/reviews-slider.html
  include ../modules/howwework.html
  include ../modules/seo.html
  include ../modules/managers.html
  include ../modules/contacts.html
  include ../modules/map.html
  include ../global_modules/popup.html